.portfolio-wrap
  gird(cells-align: 'center');
  margin: 0;
  padding: 0;
  .portfolio-header
    cell(12, 12)
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 30vh;
    .combined-total
      cell(12, 12)
      color: #838383
      padding: 90px;
      text-align center;
      font-size: 3em;

.coin-list-wrap
  width: 100%;
  height: 70vh;
  overflow auto;
  padding 0 0 75px 0;
  margin: 0;
  .coin-list
    padding: 0;
    margin: 0;
    .coin-list-item
      cell(12, 12)
      background-color: #f2f2f2;
      padding: 15px;
      .coin-list-icon
        cell(3.5, 12)
        font-size: 3em;
        float: left;
      .coin-list-name
        cell(8.5, 12)
        font-family "Open Sans";
        letter-spacing 0.03em;
        font-size: 3em;
        margin-left: 30px;
        text-decoration: none;
      a
        color: #838383
        text-decoration: none;
      a:visited
        color: #838383