.nav-wrap
  .nav-list
    margin-top: 50px;
    a
      color: #838383
      text-decoration: none;
    a:visited
      color: #838383
    .nav-item
      grid(cells-align: 'center');
      background-color: rgba(255, 255, 255, 0.1)
      padding: 0;
      margin-bottom: 10px;
      .tab-icon
        cell(2, 12)
        color: whitesmoke;
        font-size 1.5em;
        float: left;
      .tab-name
        cell(8.5, 12)
        float: right;
        color: whitesmoke;
        font-size: 1.5em;
        font-family "Open Sans";
        font-weight 500;
        text-transform uppercase;
        letter-spacing: 0.08em;
    .nav-item:hover
      background-color: rgba(0, 0, 0, 0.05);