.nav-wrap
  .nav-list
    margin-top: 50px;
    .nav-item
      grid(cells-align: 'center');
      background-color: rgba(255, 255, 255, 0.2)
      padding: 0;
      margin-bottom: 10px;
      .tab-icon
        cell(2, 12)
        color: whitesmoke;
        font-size 2em;
      .tab-name
        cell(10, 12)
        color: whitesmoke;
        font-size: 1.3em;
        font-family "Open Sans";
        font-weight 500;
        text-transform uppercase;
        letter-spacing: 0.08em;
    .nav-item:hover
      background-color: rgba(0, 0, 0, 0.1);