.profile-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-header
  grid(cells-align: 'center');
  font-family "Open Sans"
  background-color: #f2f2f2;
  color: #777;
  .crypto-icon
    cell(1, 12)
    color: #999 !important;
    font-size 3em;
    text-align center;
  .crypto-name
    cell(8, 12)
    font-size 3em;
  .crypto-price
    font-size: 1em;
    text-align center;
  .price-usd
    cell(1.5, 12)
  .price-eur
    cell(1.5, 12)