.profile-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-header
  grid(cells-align: 'center');
  font-family "Open Sans"
  background-color: #f2f2f2;
  color: #777;
  .crypto-icon
    cell(0.6, 12)
    color: #999 !important;
    font-size 3em;
  .crypto-name
    cell(10.4, 12)
    font-size 3em;
    .crypto-price
      cell(2, 12)
      font-size: 1em;
